@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

@font-face {
	font-family: 'Whitney';
	src: url('/public/assets/fonts/whitney-2/whitneybook.otf');

	font-family: 'Whitney-bold';
	src: url('/public/assets/fonts/whitney-2/whitneysemibold.otf');
}

:root {
	--font-home-btns: clamp(16px, 3.5vw, 18px);
	--font-size-sm: clamp(14px, 2vw, 16px);
	--font-size: clamp(16px, 2vw, 20px);
	--font-size-lg: clamp(23px, 4vw, 35px);
	--font-size-x-lg: clamp(32px, 5vw, 45px);
	--font-size-xx-lg: clamp(43px, 6vw, 78px);

	--font-headings: 'Whitney-bold', sans-serif;
	--font-primary: 'Whitney', sans-serif;

	--brand: #5865f2;
	--text-link: #00b0f4;
	--almost-black: #23272a;
	--darkgrey: #b9bbbe;
	--links: hsl(197, 100%, 47.8%);

	--top-height: 45px;
	--link-hover: #3e4146;
	--link-bg: #34373c;

	--main-bg: #36393f;
	--aside-bg: #2f3136;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	min-width: 300px;
	position: relative;
	font-family: var(--font-primary);
	letter-spacing: 0.3px;
}

a {
	text-decoration: none;
	width: fit-content;
	padding: 0.1rem 0.3rem;
	color: inherit;
}

p {
	font-size: var(--font-size);
	font-family: var(--font-primary);
	line-height: 1.6;
}

.grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

.link {
	color: var(--text-link);
	cursor: pointer;
}

.a {
	padding: 0.2rem 0.35rem;
	border-radius: 4px;
}
.a:hover,
.a.active:hover,
.a .remove {
	background-color: var(--link-bg);
}

.a.active {
	background-color: var(--link-hover);
}

li:hover .a,
.a:hover,
.a.active {
	color: #dcddde;
}

.modal {
	position: fixed;
	bottom: 15px;
	left: 50%;
	transform: translate(-50%, 30px);
	opacity: 0;
	transition: opacity 0.8s, transform 0.8s;
	width: fit-content;
	max-width: 90%;
	border-left: 5px solid #ffff20;
	background-color: var(--almost-black);
	color: #fff;
	padding: 0.5rem 1rem;
	border-radius: 3px;
	z-index: 201;
	font-size: var(--font-size-sm);
	box-shadow: 0 0 4px rgba(255, 255, 255, 0.1);
}
.modal.active {
	transform: translate(-50%, 0);
	opacity: 1;
}
.modal.warn {
	border-left: 5px solid rgb(219, 34, 34);
}
.modal.success {
	border-left: 5px solid rgb(20, 177, 20);
}

/* @media (max-width: 400px) {
	.mobile button {
		gap: 0 !important;
	}
} */
