@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

@font-face {
	font-family: 'Whitney';
	src: url('/public/assets/fonts/whitney-2/whitneybook.otf');
}
@font-face {
	font-family: 'Antique-Olive';
	src: url('/public/assets/fonts/Antique-Olive/AQBL.ttf');
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
:root {
	--font-home-btns: clamp(15px, 3.5vw, 20px);
	--font-size-sm: clamp(14px, 2vw, 16px);
	--font-size: clamp(16px, 2vw, 20px);
	--font-size-lg: 1.1rem;
	--font-size-x-lg: clamp(32px, 5vw, 40px);
	--font-size-xx-lg: clamp(43px, 6vw, 78px);

	--brand: #5865f2;
	--text-link: #00b0f4;

	--font-headings: 'Antique-Olive', sans-serif;
	--font-primary: 'Whitney', sans-serif;
}

body {
	min-height: 100vh;
	min-width: 300px;
}

a {
	text-decoration: none;
	width: fit-content;
	padding: 0.1rem 0.3rem;
}
.grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}
