@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

@font-face {
	font-family: 'Whitney';
	src: url('/public/assets/fonts/whitney-2/whitneybook.otf');

	font-family: 'Whitney-bold';
	src: url('/public/assets/fonts/whitney-2/whitneysemibold.otf');
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
:root {
	--font-home-btns: clamp(15px, 3.5vw, 18px);
	--font-size-sm: clamp(14px, 2vw, 16px);
	--font-size: clamp(16px, 2vw, 20px);
	--font-size-lg: clamp(23px, 4vw, 35px);
	--font-size-x-lg: clamp(32px, 5vw, 45px);
	--font-size-xx-lg: clamp(43px, 6vw, 78px);

	--brand: #5865f2;
	--text-link: #00b0f4;

	--font-headings: 'Whitney-bold', sans-serif;
	--font-primary: 'Whitney', sans-serif;

	--almost-black: #23272a;
}

body {
	min-height: 100vh;
	min-width: 300px;
}

a {
	text-decoration: none;
	width: fit-content;
	padding: 0.1rem 0.3rem;
}
.grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}
p {
	font-size: var(--font-size);
	font-family: var(--font-primary);
	line-height: 1.6;
}
